.subRedditSection {
  
  grid-column: 3/4;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin: 36px;
  border-radius: 4px;
  padding: 24px;
  transition: box-shadow .1s ease-in;
  transition-property: box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  transition-behavior: normal;
  
}

@media only screen and (max-width: 600px) {
    .subRedditSection {
        grid-column: 1;
    }
}
  