.searchForm {
    display: flex;
    align-items: center;
}

.searchForm input {
    flex-grow: 1;
    border: none;
    background-color: #f3f3f3;
}

/*.searchForm button {
    background: none;
    border: none;
    cursor: pointer;
    color: #717171;
    height: 20px;
    width: 20px;
}*/

.search-button {
  border: none;
  cursor: pointer;
} 

.searchImage {
    height: 20px;
    width: 20px;
}