.imageContainer {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}


.postDetails {
  margin-top: 16px;
  border-top: 1px solid #e6e6e6;
  padding-top: 8px;
  font-size: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.postContainer {
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    margin-bottom: 36px;
    border-radius: 4px;
    padding: 24px;
    transition: box-shadow .1s ease-in;
    transition-property: box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-behavior: normal;
    color: #717171;
}

.postTitle {
    color: #213547;
}